<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hanyang.myway">
    <uses-permission android:name="android.permission.INTERNET"/> <!--인터넷 허용-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWay"
        android:usesCleartextTraffic="true"> <!--모든 Http URL에 대해서 접근 허용-->
        <activity
            android:name=".StartActivity"
            android:exported="true">

            <intent-filter> <!--스플래쉬 화면이 나타나도록 인덴트 필터를 MainActivity에서 StartActivity 안으로 옮김-->
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>